name: Tests for Redis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  mongodb:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '#Skip')"
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Set up Redis 6
        uses: supercharge/redis-github-action@1.4.0
        with:
          redis-version: 6

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Gradle test
        run: ./gradlew :alkaid-redis:test -Dtest.single="com/alkaidmc/alkaid/redis/AlkaidRedisTest"

      - name: Upload fail reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: redis-test-failure
          path: alkaid-redis/build/reports